* {
    box-sizing: border-box;
    border-radius: 0;
}

form {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form input {
    width: 75%;
    font-size: 1.5em;
    border: 0;
    padding: 5px 10px;
}

form button {
    width: auto;
    font-size: 1.5em;
    margin: 7px;
    background-color: violet;
    border: 0;
    padding: 5px 10px;
}

form button:hover {
    background-color: fuchsia;
}

#inputContainer {
    margin: 0 20%;
}

#onetsk h2 {
    background-color: darkmagenta;
    margin: 10px 0;
    padding: 5px 10px;
    width: 400PX; 
    word-wrap: break-word;
    color: white;
}

#onetsk {
    display: flex;
    align-items: center; 
}

#controls {
    margin: 10px 0 10px 10px;
    background-color: rgb(100, 28, 95);
    padding: 5px;
    display: flex;
}

#controls span {
    background-color: rgb(245, 203, 35);
    margin-left: 10px;
    color: black;
    padding: 5px 10px;
    cursor: pointer; /* Adds a pointer cursor to indicate interactivity */
}
